<h1>Editing operations and compliance</h1>

<%= render "form", operations_and_compliance: @operations_and_compliance %>

<br>

<div>
  <%= link_to "Show this operations and compliance", @operations_and_compliance %> |
  <%= link_to "Back to operations and compliances", operations_and_compliances_path %>
</div>
