<h1>New operations and compliance</h1>

<%= render "form", operations_and_compliance: @operations_and_compliance %>

<br>

<div>
  <%= link_to "Back to operations and compliances", operations_and_compliances_path %>
</div>
