<h1>Editing sales and finance</h1>

<%= render "form", sales_and_finance: @sales_and_finance %>

<br>

<div>
  <%= link_to "Show this sales and finance", @sales_and_finance %> |
  <%= link_to "Back to sales and finances", sales_and_finances_path %>
</div>
